sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '6'
  - '7'
  - '8'
  - '9'
  - '10'
  - '11'
before_script:
  - npm prune
after_success:
  - npm run report-coverage
  - curl -Lo travis_after_all.py https://git.io/travis_after_all
  - python travis_after_all.py
  - export $(cat .to_export_back) &> /dev/null
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
